{% load static %}
<!DOCTYPE html>
<html>
	<head>
		<title>
			portfolio
		</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="{% static '/CSS/index.css' %}" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
		<div class="container">
			<br>
			<div class="row">
				<div class="col-md-3">
					<div class="card card-body h-100 border-info" id="profile-wrapper">
						<img src="{% static '/images/image.jpg' %}" id="profile-pic">
						<hr>
						<h4>Hi, I'm Rajesh!</h4>
						<p>I love coding, learning new technologies.</p>
					</div>
				</div>
				<div class="col-md-9">
					<div class="card card-body h-100 border-info">
						<h5>My first job as a developer!</h5>
						<hr>
						<p>After my MCA degree, I had joined a Ferns N Petals Pvt Ltd as a Full Stack Developer.</p>
						<p>I worked there for 3 months from the month May to July of 2019.</p>
						<br>
						<p>Reach me on any of these social platforms...</p>
						<ul class="social-links">
							<li><a href="https://www.facebook.com/rajeshkumar.rout.3386" class="fa fa-facebook" target="_blank"></a></li>
							<li><a href="https://twitter.com/rkrajesh2404" class="fa fa-twitter" target="_blank"></a></li>
							<li><a href="mailto: rkrajesh.rout2404@gmail.com" class="fa fa-google" target="_blank"></a></li>
							<li><a href="https://www.instagram.com/rajeshrk.rout/" class="fa fa-instagram" target="_blank"></a></li>
							<li><a href="https://www.linkedin.com/in/rajesh-kumar-rout-626388182/" class="fa fa-linkedin" target="_blank"></a></li>
						</ul>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card card-body h-100">
						<h5>My Experience as a Developer</h5>
						<hr>
						<p>Full stack developer at Ferns N Petals Pvt Ltd</p>
						<p>Worked on desgning a UI which was a part of an E-Commerce website of the company. </p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card card-body h-100">
						<h5>What I know</h5>
						<hr>
						<p>Python, Django, Java, HTML/CSS, Javascript/Jquery, React, Postgres, MySQL.</p>
						<p>PS: Working on React, MongoDB and Django</p>
					</div>
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-6">
					<div class="card card-body h-100">
						<h5>How I Learn</h5>
						<hr>
						<p>I can learn just about anything by having a final product to tear apart piece by piece. I focus more on practical implementaton rather than going through documentation.</p>
					</div>
				</div>
				<div class="col-md-6">
					<div class="card card-body h-100">
						<h5>My Short Term Goals</h5>
						<hr>
						<p>After completing learning django and React, I'll be working on some projects which might help me to be much experienced.</p>
						<p>Aside from building small projects, I would love to enter a position where I can be a part of bigger team  & learn  from others wth more experience than myself.</p>
					</div>
				</div>
			</div>
			<br>
		</div>
	</body>
</html>